[Desktop Entry]
Version=1.0
Type=Link
Name=monografia (RFID) - Documentos Google
Comment=
Icon=user-bookmarks
URL=https://docs.google.com/document/d/1cMXOHlJZFee6Ln-HrmzhujnqnalbHEKOqqSmkKPZBpQ/edit?tab=t.0\r
